$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';

* {
    font-family: chalkboard;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}

/*team styles*/

.chat-window {
    border: 1px solid black;
    height:  500px;
}

.message-input {
    width: 88%;
    display: inline-block;
}



/*.input input {
    width: 85%;
}*/

/*joe's modal styles*/


h4.modal-title{
    font-family: chalkboard;
    color: #fff;
}

.modal-header
 {
    border-bottom: none; 
}

.modal-footer {
    border-top: none; 
}

.modal.fade.in {
    background: white;
}

.modal input {
    text-indent: 5px;
}

.modal-content {
    position: relative;
    background-color: white;
    border: 1px solid #999999;
    border: 11px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    background-clip: padding-box;
    outline: none;
    background-image: url('/images/chalkboard.png');
    background-size: 400px 400px; 
    -webkit-border-image:url('/images/chalkboardborder.png') 30 30 round; /* Safari 5 */
    -o-border-image:url('/images/chalkboardborder.png') 30 30 round; /* Opera */
    border-image:url('/images/chalkboardborder.png') 30 30 round;
}

/*save button for modal*/
.submit-button {
    color: #8d8d8d;
    background-color: #fff;
    border-color: #E2E2E2;
    box-shadow: inset -1px 0px 3px #858585;
}

.submit-button:hover{
    color: #fff;
    background-color: #D6D8DB;
    border-color: #E2E2E2;
    box-shadow: inset -1px 0px 3px #858585;
}

.submit-button:active{
    color: #fff;
    background-color: #D6D8DB;
}